@chasert "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, #3C4767, #ed514e);
}

.top-title {
    text-align: center;
}

label,
.sub-title,
.title {
    text-align: center;
    color: white;
}

.logout-wrapper {
    margin-top: 50px;
    text-align: center;
    /* background-color: #3C4767;
    opacity: 0.5; 今度やる。 */
}

.submit-button {
    background-color: navy;
    color: white;
    padding: 2px 20px;
    margin-top: 10px;
}

.register-button {
    color: white;
    display: inline-block;
    margin-top: 30px;
}

.title-wrapper {
    margin-bottom: 50px;
    color: white;
    text-align: center;
}

.welcome {
    color: white;
}
