@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #3C4767;
    position: relative;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

/* login.bladeのCSS */

/* 1.ヘッダー */
.login-user {
    text-align: right;
    position: relative;
}

.login-name {
    color: #fff;
    position: absolute;
    right: 150px;
    top: -60px;
}

.login-image {
    position: absolute;
    right: 10px;
    top: -70px;
}

/* ハンバーガーメニュー */
.menu-trigger {
    width: 20px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 100px;
    top: -60px;
}

.menu-trigger span {
    display: block;
    position: absolute;
    width: 20px;
    border-bottom: solid 1px #fff;
    border-radius: 3px;
    transition: .35s ease-in-out;
}

.menu-trigger span:nth-child(1) {
    top: 10px;
    transform: rotate(60deg);
}

.menu-trigger span:nth-child(2) {
    top: 10px;
    left: 9px;
    transform: rotate(-60deg);
}


/* ここからはメニュー開いているとき */
.menu-trigger.active span:nth-child(1) {
    top: 10px;
    transform: rotate(-60deg);
}

/* 2番目と3番目のspan要素を45度方向に回す */
.menu-trigger.active span:nth-child(2) {
    top: 10px;
    transform: rotate(60deg);
}

.g-navi {
    display: none;
    position: absolute;
    top: 103px;
    right: 0;
    z-index: 2;
    background-color: #fff;
    color: #3C4767;
}

.g-navi ul :hover {
    color: #fff;
    background-color: #ed514e;
}

.g-navi ul {
    display: block;
}

.g-navi ul li {
    display: block;
    padding: 30px;
    border: #6C6C6C solid 1px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 2.サイドバー */

#confirm {
    padding-top: 10px;
    padding-left: 10px;
}

.side-btn {
    display: block;
    padding: 15px 1em;
    text-decoration: none;
    text-align: center;
    background: #668ad8;
    color: #FFF;
    border-radius: 3px;
    width: 130px;
    margin-right: 50px;
    margin-left: auto;
    margin-top: 20px;
}

.search-btn {
    margin: 0 auto;
    margin-top: 50px;
}

.delimit {
    margin-top: 2rem;
    border-top: solid 2px #E6ECF0;
}

.user-count {
    display: flex;
    justify-content: space-around;
}

.side-follow {
    margin-top: 20px;
}

/* 3.つぶやきエリア */
.form-control {
    border: 1px solid transparent;
    transition: border 0.2s ease-out;
    height: 70px;
    outline: 0;
    /*フォーカスしたときの枠線消す */
    margin-left: 20px;
}

.form-control:focus {
    border-bottom: 1px solid green;
}

.form-wrapper {
    display: flex;
    margin: 10px 10px;
}

.post-btn {
    margin-left: 500px;
    position: absolute;
    margin-top: 30px;
}

/* 4.つぶやき表示エリア */

.post-delimit {
    margin-top: 2rem;
    border-top: solid 2px #E6ECF0;
}

.user-image,
.post-username,
.post-time,
.post-post,
.btn-edit,
.btn-trash {
    position: relative;
}

.user-image {
    top: 10px;
    left: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.post-username {
    top: -40px;
    left: 100px;
}


.post-time {
    top: -45px;
    left: 700px;
}


.post-post {
    top: -20px;
    left: 100px;
}

.btn-edit {
    left: 700px;
}

.btn-trash {
    left: 750px;
    bottom: 50px;
}
